APP_ENV=development
DEBUG=1
SECRET_KEY=change-me

ALLOWED_HOSTS=127.0.0.1,localhost
CORS_ALLOWED_ORIGINS=http://localhost:5173,http://127.0.0.1:5173
CSRF_TRUSTED_ORIGINS=http://localhost:5173,http://127.0.0.1:8000,http://localhost:8000
CORS_ALLOW_CREDENTIALS=1
FRONTEND_URL=http://localhost:5173

DB_ENGINE=django.db.backends.sqlite3
DB_NAME=db.sqlite3
# DB_USER=
# DB_PASSWORD=
# DB_HOST=localhost
# DB_PORT=5432
# DB_CONN_MAX_AGE=60

LANGUAGE_CODE=en-us
TIME_ZONE=UTC

EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
DEFAULT_FROM_EMAIL=no-reply@nebula.local
EMAIL_HOST=
EMAIL_PORT=587
EMAIL_USE_TLS=1
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

JWT_ACCESS_MINUTES=60
JWT_REFRESH_DAYS=7
JWT_ROTATE_REFRESH_TOKENS=0
JWT_BLACKLIST_AFTER_ROTATION=1

OPENAI_API_KEY=
OPENAI_MODEL=gpt-4o-mini
GOOGLE_CLIENT_ID=

PDF_ENGINE_STRICT=0
STATIC_ROOT=staticfiles
SESSION_COOKIE_SECURE=0
CSRF_COOKIE_SECURE=0

DEFAULT_PAYMENT_GATEWAY=bog
PAYMENT_STUB_MODE=1
PAYMENT_SUCCESS_URL=http://127.0.0.1:8000/api/subscriptions/payment-success/
PAYMENT_CANCEL_URL=http://127.0.0.1:8000/api/subscriptions/payment-cancel/

FASTOO_API_URL=https://api.fastoo.ge
FASTOO_PROJECT_ID=
FASTOO_API_PASSWORD=
FASTOO_TERMINAL=
FASTOO_WEBHOOK_SECRET=

BOG_OAUTH_URL=https://oauth2.bog.ge/auth/realms/bog/protocol/openid-connect/token
BOG_API_URL=https://api.bog.ge
BOG_CLIENT_ID=
BOG_CLIENT_SECRET=
BOG_CALLBACK_PUBLIC_KEY=
